* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Readex Pro', sans-serif;
}

html {
    height: 100%;

}
body {
    background-color: #e60000;
    border: 2px solid green;
}

.banner {
    min-height: 100vh;
    /* border: 2px solid green; */
    background: url("./../assets/img/page_images/1_desk.png");
    background-size: cover;
    background-attachment: fixed;
}

.banner h1 {
    border: 2px solid green;
    font-size: 4rem;
    position: relative;
    top: 200px;
}

header {
    /* border: 2px solid blue; */
    position: sticky;
    top: 0;
    height: 4rem;
    background-color: rgba(180, 0, 0, 0.9);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

img {
    width: 360px;
    height: 240px;
    border-radius: 18px;
}

.quiz-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.main-list {
    width: 80%;
    max-width: 700px;
    list-style-type: decimal;
    /* border: 2px solid rgba(0,0,0,0); */
    /* margin: 6px; */
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    padding: 1.5rem;
    border-radius: 18px;
    background-color: #ff9999;
    /* margin: 3px auto; */
}

@media only screen and (max-width: 580px) {
    .banner {
        background: url("./../assets/img/page_images/1_mob.png");
        background-size: cover;
        background-attachment: fixed;
    }
    header {
        font-size: 1.5rem;
        height: 3.6rem;
    }
    img {
        width: 240px;
        height: 160px;
        border-radius: 12px;
    }
    .main-list {
        flex-direction: column;
        width: 80%;
    }
}

.question h3 {
    font-size: 1.4rem;
}

.question ul {
    list-style-type: none;
    padding: 0.6em;
}

.question ul li {
    padding: 0.6em;
}

.hide {
    visibility: hidden;
}

.result {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center; 
    animation: res-anim 0.6s ease-in 1;
}

@keyframes res-anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}

.result-image {
    animation: res-img 0.6s ease-in 1;    
}

@keyframes res-img {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
